select {
    position: absolute;
    top: 15px;
    z-index: 0;
    margin-bottom: 30px;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    background-color: #242424;
    background: none; /* Убираем фон */
    border: none !important; /* Убираем рамку */
    outline: none; /* Убираем фокус */

} 
option {
    position: relative;
    all: unset;
    background:#242424;
    color: #fff;
    font-size: 18px;
    border:none !important;
    border-radius: 8px;
} 
